#  ____________________
# ( Managed by Ansible )
#  --------------------
#   o            .    .     .
#    o      .  . .     `  ,
#     o    .; .  : .' :  :  : .
#      o   i..`: i` i.i.,i  i .
#       o   `,--.|i |i|ii|ii|i:
#            UooU\.'@@@@@@`.||'
#            \__/(@@@@@@@@@@)'
#                 (@@@@@@@@)
#                 `YY~~~~YY'
#                  ||    ||

[linuxdash]
prefix = {{ linuxdash_install_dir }}/linuxdash

listen = {{ linuxdash_install_dir }}/php-fpm.sock
listen.mode = 0600
listen.owner = {{ linuxdash_user }}
listen.group = {{ linuxdash_group }}

user = {{ linuxdash_user }}
group = {{ linuxdash_group }}

pm = dynamic
pm.max_children = 200
pm.max_requests = 100
pm.start_servers = 10
pm.min_spare_servers = 5
pm.max_spare_servers = 10

chdir = {{ linuxdash_install_dir }}/linuxdash

php_value[memory_limit] = 32M

php_flag[magic_quotes_gpc] = off
php_flag[magic_quotes_sybase] = off
php_flag[register_globals] = off

php_admin_value[expose_php] = off
